<section id="pagecontent">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/images/aboutUs.jpg" class="img-responsive"/>
        </div>
        <div class="col-md-6">
          <h2><strong>Our Mission and Core Values</strong></h2>
          <hr>
          <div class="well">
            <p>JKM Travels is one of the fastest growing leader in providing all kinds of transportation solutions to our
              clients. we are working with all types of organizations, including corporate, schools and colleges, wedding
              parties, religious congregations to helping and solving transportation requirement. Through charter bus,
              rental and contract transportation, we provide everything from convention shuttles to airport transportation
              to executive transportation. JKM travels is equipped with best of the the resources, experience to meet
              every transportation requirement. Best of all, our dedication to unparalleled safety and customer service
              has remained unchanged through the years. At JKM Travels our mission is clear: to be your single
              transportation solution.</p>
          </div>
        </div>
      </div>

      <div class="row" align="center">
        <div class="col-md-4">
          <div class="well">
            <i class="fa fa-dot-circle-o fa-4x"></i>
            <h3>Mission Statement</h3>
            <p>Our work is our passion and through our continued passion we always work hard to provide superior
              transportation services, and this could not be done without our friendly, relentless and dedicated team
              members.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="well">
            <i class="fa fa-check-circle fa-4x"></i>
            <h3>Customer Service</h3>
            <p>We employ the right people and train them to deliver exceptional service. In fact, in a move unique to
              the industry, we train our staff to ensure the best possible service. We use our statistical models to
              monitor traffic incidents, mechanical failures and customer service issues to verify that our passengers
              have a great experience.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="well">
            <i class="fa fa-life-ring fa-4x"></i>
            <h3>Safety</h3>
            <p>Safety is always taken seriously. We use screening techniques, including drug/alcohol screening, criminal
              background check, personality testing. Safety is not limited to the highway; we also utilize extensive
              safety systems for our maintenance and office environments.All our buses are equipped with GPRS systems to
              monitor them real time.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="well">
            <i class="fa fa-thumbs-up fa-4x"></i>
            <h3>Reliability</h3>
            <p>Our maintenance facility and procedures are state of the art and most of our trips are completed without
              any mechanical problems.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="well">
            <i class="fa fa-plus fa-4x"></i>
            <h3>Integrity</h3>
            <p>We value honesty and integrity. All of our employees must adhere to the highest standards. We do not
              tolerate dishonesty and will dismiss employees who are dishonest with us or our customers.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="well">
            <i class="fa fa-users fa-4x"></i>
            <h3>Teamwork</h3>
            <p>We view our customers as partners and focus on building long-term relationships. Whenever we are involved
              in planning the transportation services along with the customer we routinely suggest cost saving ideas
              that can be implemented without hurting customer service. Internally, we foster excellent working
              relationships between our employees.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

