<div class="row clearfix visible-lg visible-md pageTitleStrip">
  <div class="container">
    <div class="col-lg-9 col-md-9 Economica PageHeader">Booking Summary</div>
  </div>
</div>
<div class="row contentarea">

  <div class="container">

    <div class="col-lg-9 col-sm-9 col-md-9 col-xs-12">
      <div class="contentleft2" style="padding:0px;"><!-- Content starts -->
        <div class="contentleftwrapper">
          <div class="greentext col-lg-12">Thank you for booking with us</div>
          <hr>
          <div class="col-lg-6 cyanfont">Booking Reference #:XYZ3456</div>
          <div class="col-lg-6">
    <span class="pull-right"><span style="font-size:20px;" class="icon-print2"> </span>
    <span style="font-size:20px;" class="icon-email"></span>
    </span>
          </div>
          <br class="clearfix">
        </div>

        <div class="contentleftwrapper">
          <div class="sectionhead">
            Vehicle Information
          </div>
          <table width="100%" border="0" cellpadding="5">
            <tr>
              <td width="20%" class="captions2">vehicle type:</td>
              <td>Volvo Sleeper Bus</td>
            </tr>
            <tr>
              <td class="captions2">Bus Needed:</td>
              <td>3</td>
            </tr>
            <tr>
              <td class="captions2">amenities:</td>
              <td>Air Conditioner, Water, Movie, Chargin Point, Live Tracking</td>
            </tr>
            <tr>
              <td class="captions2">QUOTED AMOUNT/BUS:</td>
              <td>4600.00</td>
            </tr>
          </table>
          <br>
          <div class="sectionhead">
            Trip Information
          </div>
          <table width="100%" border="0" cellpadding="5">
            <tr>
              <td colspan="2" class="cyanfont">Ahmedabad <span class="icon-arrow-right-outline"></span> New Delhi</td>
            </tr>
            <tr>
              <td width="20%" class="captions2">LEAVING ON:</td>
              <td>05/05/2015, 8:00 AM</td>
            </tr>
            <tr>
              <td class="captions2">Departure Location:</td>
              <td>34, Ashwamegh Bunglows, satellite , Ahmedabad, Gujarat</td>
            </tr>
            <tr>
              <td colspan="2" class="cyanfont">New Delhi <span class="icon-arrow-right-outline"></span> Ahmedabad</td>
            </tr>
            <tr>
              <td class="captions2">LEAVING ON:</td>
              <td>15/05/2015, 9:00 PM</td>
            </tr>
            <tr>
              <td class="captions2">Departure Location:</td>
              <td>123, XYZ apartments, near ashok road, New Delhi, Delhi</td>
            </tr>
          </table>
          <br>
          <div class="sectionhead">Contact Information</div>
          <table width="100%" border="0" cellpadding="5">
            <tr>
              <td width="20%" class="captions2">Name:</td>
              <td>Ramesh R. Patel</td>
            </tr>
            <tr>
              <td class="captions2">business:</td>
              <td>ABC corporation Limited</td>
            </tr>
            <tr>
              <td class="captions2">Address:</td>
              <td>34, Ashwamegh Bunglows, satellite , Ahmedabad, Gujarat</td>
            </tr>
            <tr>
              <td class="captions2">Email Address:</td>
              <td>rameshpatel@gmail.com</td>
            </tr>
            <tr>
              <td class="captions2">Phone Number:</td>
              <td>98250 98250</td>
            </tr>
          </table>
          <br>
          <span class="clearfix"></span>
          <br>
          <div class="buttonPanel">
            <button type="button" class="greenbutton">Email</button>
            &nbsp;
            <button type="button" class="greenbutton">Print</button>
          </div>
          <span class="clearfix"></span>
        </div>
        <div id="searchInfo"></div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-md-3 col-xs-12" style="padding:0px;">
      <div class="contentright2" style="padding:0px;">
        <div class="contentrightwrapper">
          <div id="sectionhead" class="sectionhead">
            Trip Summary
          </div>
          <div class="filtersection">
            <table width="100%">
              <tr>
                <td class="cyanfont">
                  Ahmedabad to Delhi
                </td>

              </tr>
              <tr>
                <td>05/05/2015 &mdash; 15/05/2014</td>
              </tr>

              <tr>
                <td>
                  <hr>
                </td>
              </tr>
              <tr>
                <td>
                  <table width="100%" cellpadding="3" cellspacing="1">
                    <tr>
                      <td class="captions" width="60%"># Bus Category:</td>
                      <td width="40%" style="text-align:right">Volvo Delux</td>
                    </tr>
                    <tr>
                      <td class="captions"># of Bus Booked:</td>
                      <td style="text-align:right">3</td>
                    </tr>
                    <tr>
                      <td class="captions">Quoted Amount/Bus:</td>
                      <td style="text-align:right">4600.00</td>
                    </tr>

                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <hr>
                </td>
              </tr>
              <tr>
                <td>
                  <table width="100%" cellpadding="3" cellspacing="1">
                    <tr>
                      <td class="captions" width="60%">Total Quoted:</td>
                      <td style="text-align:right" class="priceamnt">13800.00</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

          </div>

        </div>

        <div class="contentrightwrapper">
          <div class="sectionhead">
            Need Help?
          </div>
          <div class="filtersection">
            We would be more than happy ro help you. Our team advisor are always ready at your service to help you.
            <br/>
            <br/>

            <span class="icon-phone">
    </span>
            <span class="cyanfont">800-SUREBUS</span>
            <br/>
            <span class="icon-email">
    </span>
            <span class="cyanfont">help@surebus.in</span>
          </div>

        </div>
        <!--right wrapper ends-->
      </div>
    </div>
  </div>
</div>
