<section id="pagecontent">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3" align="center">
          <div class="title">
            <img src="assets/images/feat-bus.png" class="img-responsive"/>
            <h4>Transportation for Corporates and Organizations</h4>
            <p>JKM is providing professional transportation services to clients in Delhi NCR region and nationwide. Our
              extensive fleet of tour buses, luxury and mini coaches is sure to meet your bus rental needs.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#01">Learn more...</button>
          </div>
        </div>
        <div class="col-md-3" align="center">
          <div class="title">
            <img src="assets/images/yellowBus.png" class="img-responsive"/>
            <h4>Buses for Schools and Colleges</h4>
            <p>College and School bus rentals are an easy and affordable solution for group transportation. All our
              buses are equipped by GPRS for real time tracking. For safe and reliable transportation, you can get a
              quote by simply calling us</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#02">Learn more...</button>
          </div>
        </div>

        <div class="col-md-3" align="center">
          <div class="title">
            <img src="assets/images/tourBus.png" class="img-responsive"/>
            <h4>Tour Buses</h4>
            <p>Our friendly and trained personnel will give their best for making group travel of tourists not only
              practical and cost-effective but also enjoyable. We serve tour buses to all tourist places like Delhi,
              Agra, Jaipur, Haridwar, Rishikesh, Simla and Manali</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#03">Learn more...</button>
          </div>
        </div>

        <div class="col-md-3" align="center">
          <div class="title">
            <img src="assets/images/specialBus.png" class="img-responsive"/>
            <h4>Buses for Special Occasions</h4>
            <p>JKM provides buses for special occasions like wedding parties, religious congregations and family
              events.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#04">Learn more...</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="well">
          <p>Well acquainted, friendly and trained personnel at JKM Travels to give their best for making group travel
            of tourists not only practical and cost-effective, but also enjoyable. We are a leading bus service provider
            and can match any vehicles to your requirements, be it schools, private hire or corporate hire.
            Additionally, we also provide a car rental and hotel booking services. JKM provides 15, 35 , 42, 45 seater
            Ac & Non Ac luxury bus to Corporates, Colleges, Schools, Picnic, Marriages, Group Tours and Site seeing.</p>
        </div>
      </div>
    </div>
  </div>
</section>
