<div class="row clearfix visible-lg visible-md" id="welcomeStrip">
  <div class="container" >
    <div class="col-lg-9 col-md-9 Economica" id="welcomeStrpMsg">Welcome to <span class="pink">SureBus.in.</span> Your Vehicle Search Ends here & Journey Begins. </div>
    <div class="col-lg-3 col-md-3" id="subscribe">
      <div id="subscribeHead"><img src="assets/images/signupTitle.png" alt="Signup for latest offers"></div>
      <div id="subscribeBody">
        <table width="100%" border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td><input name="" type="text" placeholder="EMAIL ADDRESS"></td>
            <td width="10%"><input type="button" value="SIGN UP"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row contentarea">
  <div class="container">
    <div class="col-lg-3 col-md-3 columnSection">
      <div class="columnSectionHeader1"></div>
      <div class="columnSectionBody">
        <h3>Commute to Work, School or College</h3>
        <p>
          We are successfully serving schools and colleges located at Delhi,
          Gurgaon, Noida, Greater Noida or other parts of the India.
          Our customer care will work with you to understand your requirement to provide safe and reliable bus solution.
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 columnSection">
      <div class="columnSectionHeader2">
      </div>
      <div class="columnSectionBody">
        <h3>Hire bus or traveller for any trip</h3>
        <p>
          JKM Travels is the premier bus
          company servicing customers across Delhi NCR, Agra, Jaipur,
          Haridwar, Rishikesh, Simla, Manali and long distance tours and packages.
          How can we move you or your family with care? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 columnSection">
      <div class="columnSectionHeader3">
      </div>
      <div class="columnSectionBody">
        <h3>We connect people and places</h3>
        <p>
          We thrive to give the best service at great prices.
          We service our clients with the hope of building lasting relationships and delivering quality service.
          Our staff is knowledgeable, highly professional,
          friendly and are ready to serve you 24 hours a day, 365 days a year.
        </p>
      </div>
    </div>
  </div>
<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="serv1">
          <div class="title">
            <h4>Our Mission Statement</h4>
            <p>
              Our work is our passion and through our continued passion we always work hard to to provide
              superior transportation services and this could not be done without the support of relentless and dedicated team members.
            </p>
          </div>
        </div>
        <div class="serv1">
          <div class="title">
            <h4>Unbeatable Prices</h4>
            <p>
              We are committed to give the best service at great prices. We service our clients with the hope of building long lasting relationships by delivering
              quality service. Our staff is knowledgeable, highly professional, friendly and are ready to serve you 24 hours a day, 365 days a year.
            </p>
          </div>
        </div>
        <div class="serv1">
          <div class="title">
            <h4>Our Fleet</h4>
            <p>
              We have a fleet of coaches, mini buses, tempo travellers and luxury vehicles to serve the diverse needs of our customers.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="serv1">
          <div class="title">
            <h4>We Know The Way !</h4>
            <p>
              JKM Travels has years of experience providing premier bus service to
              colleges, schools, tour operators, group tours, employee bus services,
              weddings, parties, family reunions, events and conventions.
            </p>
          </div>
        </div>
        <div class="serv1">
          <div class="title">
            <h4>Best in class vehicle for your travel.</h4>
            <p>
              At JKM Travels, we will make sure to provide you with the best in class vehicle.
              We belive in treating our customers like our partners.
              We deliver what we promise which makes us different.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <section class="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="feature-bus animation-element">
            <img src="assets/images/feat-bus.png" alt="images" />
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 animation-element">
          <div class="feat-heading">
            <h4>Our Business Features</h4>
          </div>
          <div class="sub-title">
            <p>Some of our core values and features includes:</p>
            <ul>
              <li>Delivering quality service</li>
              <li>Safety of our customers and our team members. It is one of our top priority.</li>
              <li>Expert team members to understand your requirements and will work with you.</li>
              <li>Highly professional, friendly and are ready to serve you 24 hours a day, 365 days a year</li>
            </ul>
            <p>
              As a vehicle operator, school and college bus fleet operator and tour operator, we can help you with all of your transportation and travel plans.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
</div>

