<div class="footerwrapper">
  <div class="container">
    <div class="col-lg-2">
      <ul class="subFooterLinks">
        <li><span>SureBus</span></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Partners</a></li>
        <li><a href="#">News</a></li>
      </ul>
    </div>

    <div class="col-lg-2">
      <ul class="subFooterLinks">
        <li><span> About us</span></li>
        <li><a href="#">Latest News</a></li>
        <li><a href="#">Press Releases</a></li>
        <li><a href="#">Terms & Conditions</a></li>
      </ul>
    </div>

    <div class="col-lg-2">
      <ul class="subFooterLinks">
        <li><span>Support</span></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Find Your Order</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </div>

    <div class="col-lg-6 col-xs-12 worldmap">
      <p>
        <span>Contact SureBus</span>
        Support@surebus.in<br/>
        Customer Care: 800-SureBus<br/>
        Fax: 456-345-3343
      </p>
    </div>

  </div>

  <div class="footer">
    <div class="container">
      <div class="col-lg-3 col-md-3 col-xs-12">© Copyright SureBus.in 2014</div>
      <div class="col-lg-9 col-md-9" id="footerLinks">
        <a href="#">Customer Care</a> |  <a href="#">About Us</a>  |  <a href="#">Contact Us</a>  |   <a href="#">Privacy Policy</a>  |  <a href="#">Terms & Conditions</a>
      </div>
    </div>
  </div>
</div>
